.left-margin {
    margin-left: 0;
    float: left;
    width: 100%;
}


hr {
    height: 2px;
    background-color: #005EA2;
    width: 3fr;
}

.grid-container {
    max-width: 100vw;
    margin: 0;
    margin-right: 0;
}

.result-box {
    margin-top: 20px;
    white-space: pre-line;
    font-size: large;
    border: 1px solid;
    border-color: grey;
    padding: 20px;
    padding-top: 0;
    max-width: 100%; 
    min-height: 15rem;
}

.info-box {
    background-color: #E7F6F8; 
    line-height: 1.5; 
}

