/* .left-margin {
    margin: 0;
    float: left;
    width: 60%;
}

hr {
    height: 2px;
    background-color: #005EA2;
}

.p {
    margin-top: 50px;
} */

.result-box {
    margin-top: 20px;
    white-space: pre-line;
    font-size: large;
    border: 1px solid;
    border-color: grey;
    padding: 20px;
    padding-top: 0;
}
/* 
.main-text {
    margin-left: 30px;
    float: left;
    width: 60%;
}

.suggestions-box {
    width: 40%;
    float: left;
    width:fit-content;
}

.form {
    width: 100%;
    margin: 0;
    padding: 0;
} */

