{% extends "layout.html" %}

    {% block maincontent %}
	
	
	<div class="usa-section">
		<div class="grid-container">
			<div class="grid-row">
				<div class = "grid-col-12">
				<main class="" id="main-content">
					
					<div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information"
>
					<div class="usa-summary-box__body">
						<h3 class="usa-summary-box__heading" id="summary-box-key-information">
							What is ableist language?
						</h3>
						<div class="usa-summary-box__text">
							<p style = "line-height: 2rem;">Ableist language is language that is offensive to people with disability. It can also refer to language that is derogatory, abusive or negative about disability. Ableism is the systemic exclusion and oppression of people with disability, often expressed and reinforced through language.
							<a href = "https://pwd.org.au/resources/disability-info/language-guide/ableist-language/" target = "_blank">[source]</a></p>
				
						</div>
					</div>
					</div>

					
							<h2 style="padding-left: 5px; padding-right: 5px;">Why is this tool important?</h2>
			
							<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
                                Ableist language in job descriptions can cause people with disabilities to feel excluded from jobs that they are qualified for. This typically occurs when a description references <a href = "https://www.onetonline.org/find/descriptor/browse/Abilities/" target="="_blank><i>abilities</i></a> or enduring attributes of an individual 
								that are unnecessary for the job or for which <a href = "https://askjan.org/" ><i>accommodations</i></a> 
								can be proactively offered instead of focusing on developed 
								<a href = "https://www.onetonline.org/skills/" ><i>skills</i></a> that can be acquired to succeed 
								in the role. By identifying ableist language and suggesting alternatives, 
								this tool will support more inclusive hiring practices.
							</p>
							

						
				
				</main>
			</div>
			</div>
		</div>
	</div>
{% endblock %}