{% extends "layout.html" %}

    {% block maincontent %}
	<nav aria-label="Primary navigation" class="usa-nav left-margin">
        <div class="usa-nav__inner left-margin">
        <button class="usa-nav__close">
          <img src="/static/uswds-2.12.0/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
          <a href="/" class="usa-nav__link">
            <span>Home</span>
          </a>
          </li>
    
          <li class="usa-nav__primary-item">
          <a href="{{ url_for('about') }}" class="usa-nav__link usa-current">
            <span>About</span>
          </a>
          </li>
        </ul>
        </div>
        </div>
      </nav>
    </header>
	
	
	<div class="usa-section">
		<div class="grid-container">
			<div class="grid-row">
				<div class = "grid-col-12">
				<main class="" id="main-content">

					<h2 style="padding-left: 5px; padding-right: 5px;"><u>About</u></h2>
			
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
                    The <a href = "https://www.dol.gov/agencies/odep" target = "_blank" >Office of Disability Employment Policy</a> of the <a href = "https://www.dol.gov/" target = "_blank">Department of Labor (DOL)</a> built an NLP algorithm that analyzes job posts to understand how accessible they are to people with disabilities—checking whether text skews towards abilities instead of skills. 
					This in an accessibility toolkit or checklist for employers to create awareness and actionable insights to ensure companies are being inclusive to people with disabilities. 
					This project is be part of the Combating AI Bias Toolkit.
					</p>
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
						<a href= "https://socialgood.hcs.harvard.edu/" target = "_blank">Harvard Tech For Social Good (T4SG)</a> is tasked to develop a website wrapper so that users can copy/paste text into the browser which would then call the model that the DOL is building and would pass back the results that the model finds.
					</p>

					<h2 style="padding-left: 5px; padding-right: 5px;"><u>About Ableist Language</u></h2>

					<div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information" 
>
						<div class="usa-summary-box__body" >
							<h3 class="usa-summary-box__heading" id="summary-box-key-information">
								What is ableist language?
							</h3>
							<div class="usa-summary-box__text">
								<p style = "line-height: 2rem;">Ableist language is language that is offensive to people with disability. It can also refer to language that is derogatory, abusive or negative about disability. Ableism is the systemic exclusion and oppression of people with disability, often expressed and reinforced through language.
								<a href = "https://pwd.org.au/resources/disability-info/language-guide/ableist-language/" target = "_blank">[source]</a></p>
					
							</div>
						</div>
					</div>

					
					<h2 style="padding-left: 5px; padding-right: 5px;">Why is this tool important?</h2>
			
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px; padding-bottom: 2rem;">
                    	Ableist language in job descriptions can cause people with disabilities to feel excluded from jobs that they are qualified for. This typically occurs when a description references <a href = "https://www.onetonline.org/find/descriptor/browse/Abilities/" target="="_blank><i>abilities</i></a> or enduring attributes of an individual 
						that are unnecessary for the job or for which <a href = "https://askjan.org/" ><i>accommodations</i></a> 
						can be proactively offered instead of focusing on developed 
						<a href = "https://www.onetonline.org/skills/" ><i>skills</i></a> that can be acquired to succeed 
						in the role. By identifying ableist language and suggesting alternatives, 
						this tool will support more inclusive hiring practices.
					</p>

					<h2 style="padding-left: 5px; padding-right: 5px;"><u>About Office of Disability Employment Policy(ODEP)</u></h2>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
						The Office of Disability Employment Policy (ODEP) is the only non-regulatory federal agency that promotes policies and coordinates with employers and all levels of government to increase workplace success for people with disabilities.
					</p>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px; padding-bottom: 2rem;">For more infomation about ODEP, visit <a href = "https://www.dol.gov/agencies/odep" target="_blank">ODEP website</a></p>

					<h2 style="padding-left: 5px; padding-right: 5px;"><u>About Harvard Tech For Social Good(Harvard T4SG)</u></h2>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
						We're Harvard students passionate about leveraging computer science to make a difference, and we work with social impact organizations to understand their needs and develop products that effectively tackle their challenges. We understand that technology and social good are often misaligned, and we focus on need finding and human-centered design to ensure our projects are impactful.
					</p>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px; padding-bottom: 2rem;">For more information on how to collaborate and partner with us, please visit <a href = "https://socialgood.hcs.harvard.edu/" target="_blank">Harvard T4SG website</a></p>

					<h2 style="padding-left: 5px; padding-right: 5px; padding-top: 2rem;"><u>Questions?</u></h2>
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">If you have any question trying to run the program, please do not hesitate to contact Harvard T4SG at: <a href ="mailto:team@sg.hcs.harvard.edu." target="_blank">email</a> Thank you.</p>


										
				</main>
			</div>
			</div>
		</div>
	</div>
{% endblock %}