{% extends "layout.html" %}

    {% block maincontent %}
	<nav aria-label="Primary navigation" class="usa-nav left-margin">
        <div class="usa-nav__inner left-margin">
        <button class="usa-nav__close">
          <img src="/static/uswds-2.12.0/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
          <a href="/" class="usa-nav__link">
            <span>Home</span>
          </a>
          </li>
    
          <li class="usa-nav__primary-item">
          <a href="{{ url_for('about') }}" class="usa-nav__link usa-current">
            <span>About</span>
          </a>
          </li>
        </ul>
        </div>
        </div>
      </nav>
    </header>
	
	<div class="usa-section">
		<div class="grid-container">
			<div class="grid-row">
				<div class = "grid-col-12">
				<main class="" id="main-content">

					<h2 style="padding-left: 5px; padding-right: 5px;">About</h2>
			
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
                    The <a href = "https://www.dol.gov/agencies/odep" target = "_blank" >Office of Disability Employment Policy</a> of the <a href = "https://www.dol.gov/" target = "_blank">Department of Labor (DOL)</a> built an NLP algorithm that analyzes job posts to understand how accessible they are to people with disabilities—checking whether text skews towards abilities instead of skills. 
					This in an accessibility toolkit or checklist for employers to create awareness and actionable insights to ensure companies are being inclusive to people with disabilities. 
					This project is be part of the Combating AI Bias Toolkit.
					</p>
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
						<a href= "https://socialgood.hcs.harvard.edu/" target = "_blank">Harvard Computer Society (HCS) Tech For Social Good</a> is tasked to develop a website wrapper so that users can copy/paste text into the browser which would then call the model that the DOL is building and would pass back the results that the model finds.
					</p>

					<h2 style="padding-left: 5px; padding-right: 5px;">About Ableist Language</h2>

					<h3 style="padding-left: 5px; padding-right: 5px;">
						What is ableist language?
					</h3>
					
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">Ableist language is language that is offensive to people with disability. It can also refer to language that is derogatory, abusive or negative about disability. Ableism is the systemic exclusion and oppression of people with disability, often expressed and reinforced through language.
					<a href = "https://pwd.org.au/resources/disability-info/language-guide/ableist-language/" target = "_blank">[source]</a></p>
					
					<h3 style="padding-left: 5px; padding-right: 5px;">Why is this tool important?</h3>
			
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px; padding-bottom: 2rem;">
                    	Ableist language in job descriptions can cause people with disabilities to feel excluded from jobs that they are qualified for. This typically occurs when a description references <a href = "https://www.onetonline.org/find/descriptor/browse/Abilities/" target="="_blank><i>abilities</i></a> or enduring attributes of an individual 
						that are unnecessary for the job or for which <a href = "https://askjan.org/" ><i>accommodations</i></a> 
						can be proactively offered instead of focusing on developed 
						<a href = "https://www.onetonline.org/skills/" ><i>skills</i></a> that can be acquired to succeed 
						in the role. By identifying ableist language and suggesting alternatives, 
						this tool will support more inclusive hiring practices.
					</p>

					<h2 style="padding-left: 5px; padding-right: 5px;">About Office of Disability Employment Policy(ODEP)</h2>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
						The Office of Disability Employment Policy (ODEP) is the only non-regulatory federal agency that promotes policies and coordinates with employers and all levels of government to increase workplace success for people with disabilities.
					</p>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px; padding-bottom: 2rem;">For more infomation about ODEP, visit <a href = "https://www.dol.gov/agencies/odep" target="_blank">ODEP website</a></p>

					<h2 style="padding-left: 5px; padding-right: 5px;">About HCS Tech For Social Good</h2>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">
						HCS Tech for Social Good is a student group dedicated to empowering student leaders to leverage technology to tackle the world’s big problems. As the hub of social impact tech at Harvard, T4SG’s flagship program provides technical consulting services to nonprofits, government agencies, and social enterprises in order to amplify the work of social impact organizations and provide a space for students to get involved with and inspired by mission-driven tech work. T4SG also engages the community in social impact tech through programs, workshops, events, courses, and more.
					</p>

					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px; padding-bottom: 2rem;">For more information on how to collaborate and partner with us, please visit <a href = "https://socialgood.hcs.harvard.edu/" target="_blank">our website</a></p>

					<h2 style="padding-left: 5px; padding-right: 5px; padding-top: 2rem;">Questions?</h2>
					<p style = "line-height: 2rem; padding-left: 5px; padding-right: 5px;">If you have any question trying to run the program, please do not hesitate to contact Harvard T4SG at: <a href ="mailto:team@sg.hcs.harvard.edu." target="_blank">email</a> Thank you.</p>
				</main>
			</div>
			</div>
		</div>
	</div>
{% endblock %}