{% extends "layout.html" %}

    {% block maincontent %}

	<div class="usa-section left-margin">
		<div class="main-text left-margin">
			<!-- <div class="grid-row grid-gap"> -->
				<main class="left-margin" id="main-content">
					<div class="usa-prose" style="padding: 0">
						<h1>Get Started</h1>
		
						<p>
						Paste the job description into the textbox below.    
						</p>

						<hr>
						<!-- usa-form usa-form--large -->
						<form class="form" action="{{ url_for('predict')}}" method="POST">
							<fieldset class="usa-fieldset">
							  <textarea
								class="usa-textarea usa-textarea--xl"
								name="message" 
								type="text"
								required
								aria-required="true"
								placeholder="Enter Job Description"
								style="max-width: 100%;"
							  ></textarea>

							</fieldset>

							<br />

							<input type="submit" class="usa-button" style="float: left" value="Check Job Description">
						</form>

						

						<!-- <button class="usa-button" style="float: right"><a href="/predict">Check Job Description</ahref></button> -->
					</div>
				</main>
				
			
			<!-- </div> -->
		
		</div>

	
</div>
</body>
</html>
{% endblock %}