{% extends "layout.html" %}

    {% block maincontent %}
	
	<div class="usa-section">
		<div class="grid-container">
			<div class="grid-row">
				<div style="width:50%">
					<h1>Get Started</h1>
			
					<p>
					Paste the job description into the textbox below.    
					</p>
							
					<hr>
				</div>
			</div>

			<div class="grid-row">
				<main class="" id="main-content" style="width:50%">
					<div class="usa-prose">
							<form class="form" action="{{ url_for('predict')}}" method="POST">
								<fieldset class="usa-fieldset">
								<textarea
									class="usa-textarea usa-textarea--xl"
									name="message" 
									type="text"
									required
									aria-required="true"
									placeholder="Enter Job Description"
									style="max-width: 100%; height: 15rem; resize: none"
									
								></textarea>

								</fieldset>

								<br />

								<input type="submit" class="usa-button" style="float: left" value="Check Job Description">
							</form>
					</div>
				</main>
				<div class = "grid-col-4 info-box">
					<h3>How To Use This Tool</h3>
					<p>
					Ableist language is language that is offensive to people with disability. This type of language in job descriptions can cause people with disabilities to feel excluded from jobs that they are qualified for. This tool checks job descriptions for ableist language and suggests alternative phrasing that supports more fair and inclusive hiring.
					</p>
				</div>
			</div>

		</div>
	</div>
{% endblock %}